<!DOCTYPE html>
<html>
    <head>
        <title>Bookmarked Jobs</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicon.png">
        
	<!-- CSS here -->
		<link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="../static/assets/css/slicknav.css">
		<link rel="stylesheet" href="../static/assets/css/price_rangs.css">
		<link rel="stylesheet" href="../static/assets/css/animate.min.css">
		<link rel="stylesheet" href="../static/assets/css/magnific-popup.css">
		<link rel="stylesheet" href="../static/assets/css/fontawesome-all.min.css">
		<link rel="stylesheet" href="../static/assets/css/themify-icons.css">
		<link rel="stylesheet" href="../static/assets/css/slick.css">
		<link rel="stylesheet" href="../static/assets/css/nice-select.css">
		<link rel="stylesheet" href="../static/assets/css/style.css">
		<link rel="stylesheet" href="../static/assets/css/responsive.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
            function loadHomePage(){
                window.location.assign("/job_listing");
            }
        </script>
    </head>
    <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../static/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <header>
            <!-- Header Start -->
            <div class="header-area header-transparrent">
                <div class="headder-top header-sticky">
                    <div class="container">
                        <div class="row justify-content-end">         
                            <!-- Header-btn -->
                            <div class="header-btn d-none f-right d-lg-block">   
                                <a href="/logout" class="btn head-btn1">Logout</a>                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header End -->
        </header>
        
        <!-- FORM START -->
        <div style="padding:3%;">
        <div  style=" padding:2%; border:solid #FF3351;">
        <fieldset>
        <legend style="color:#FF3351; text-align: center;">BOOKMARKED JOBS</legend>
        {% for x in range(0,arr|length) %}     
        <div class="single-job-items mb-30" id="all-jobs">
            <div class="job-items">
                <div class="company-img">
                    <a href="#"><img src="{{ url_for('static',filename='assets/img/icon/Search_job_icon.jpg') }}" alt=""></a>
                </div>
                <div class="job-tittle job-tittle2">     
                    <a href="{{ url_for('JobDescPage',jobid=arr[x]['JOBID']) }}\">
                        <h4>{{ arr[x]['ROLE'] }}</h4>
                    </a>
                    <ul>
                        <li>{{ arr[x]['COMPANY'] }}</li>
                        <li><i class="fas fa-map-marker-alt"></i>{{ arr[x]['LOCATION']}}</li>
                        <li>{{ arr[x]['SALARY'] }}</li>
                    </ul>
                    <br>
                    <form action="/JobDescription" method="post">
                        <input type="hidden" name="jobidname" value="{{ arr[x]['JOBID'] }}">
                        <input type="submit" value="Apply Now" class="genric-btn primary radius">
                    </form>
                </div>
                <form action="/removeBookmark" method="post">
                    <input type="hidden" name="jobidname" value="{{ arr[x]['JOBID'] }}">
                    <button type="submit" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-bookmark"></span> Remove Bookmark
                    </button>
                </form>
            </div>
            <div class="items-link items-link2 f-right">
                <a href="/job_details">{{ arr[x]['JOBTYPE'] }}</a>
                <span>{{ arr[x]['POSTEDDATE'] }}</span>
            </div>
        </div>   
        {% endfor %}
        <button type="button" onclick="loadHomePage();" class="genric-btn danger-border circle">GO BACK</button>
        </div>
        </div>
        <!-- FORM END -->

        <footer>
            <!-- Footer Start-->
            <div class="footer-area footer-bg footer-padding">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                           <div class="single-footer-caption mb-50">
                                 <div class="footer-tittle">
                                     <h4>About Us</h4>
                                     <div class="footer-pera">
                                         <p>Not Another Job Portal. In addition to connecting seekers and recruiters, we provide Job and Skill Recommendations based on Job-Skill Match Score, provide Timely Alerts for New Job Openings and keep you safe from Fake Jobs.</p>
                                    </div>
                                 </div>
                           </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Contact Us</h4>
                                    <ul>
                                        <li>
                                        <p>Address : College of Engineering, Guindy</p>
                                        </li>
                                        <li><a href="#">Email : sjrjobhunt@gmail.com</a></li>
                                        <li>
                                            <p>Visit our Company Page on 
                                                <a href="https://www.linkedin.com/company/test-organization-sjr/">
                                                    <i class="fab fa-linkedin"></i>
                                                </a>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            <!-- Footer End-->
        </footer>
        
    <!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="../static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="../static/assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="../static/assets/js/popper.min.js"></script>
        <script src="../static/assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="../static/assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="../static/assets/js/owl.carousel.min.js"></script>
		<script src="../static/assets/js/slick.min.js"></script>
		<script src="../static/assets/js/price_rangs.js"></script>
		
		<!-- One Page, Animated-HeadLin -->
        <script src="../static/assets/js/wow.min.js"></script>
		<script src="../static/assets/js/animated.headline.js"></script>
		<script src="../static/assets/js/jquery.magnific-popup.js"></script>
		
		<!-- Scrollup, nice-select, sticky -->
        <script src="../static/assets/js/jquery.scrollUp.min.js"></script>
        <script src="../static/assets/js/jquery.nice-select.min.js"></script>
		<script src="../static/assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="../static/assets/js/contact.js"></script>
        <script src="../static/assets/js/jquery.form.js"></script>
        <script src="../static/assets/js/jquery.validate.min.js"></script>
        <script src="../static/assets/js/mail-script.js"></script>
        <script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="../static/assets/js/plugins.js"></script>
        <script src="../static/assets/js/main.js"></script>

    </body>
</html>