<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <div id="Header"><h2>LOGIN PORTAL</h2></div>
        <form action="http://localhost:5000/login" method="post">
            <div id="frm">
            <label for="ele1">User Name:</label>
            <input type="text" name="luname" id="ele1"><br><br>

            <label for="ele2">Password:</label>
            <input type="password" name="lupass" id="ele2"><br><br>
            <div id="button"><input type="submit" value="Submit"></div>
            </div>
        </form>
    </body>
</html>