<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
         <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="../static/assets/css/flaticon.css">
            <link rel="stylesheet" href="../static/assets/css/price_rangs.css">
            <link rel="stylesheet" href="../static/assets/css/slicknav.css">
            <link rel="stylesheet" href="../static/assets/css/animate.min.css">
            <link rel="stylesheet" href="../static/assets/css/magnific-popup.css">
            <link rel="stylesheet" href="../static/assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="../static/assets/css/themify-icons.css">
            <link rel="stylesheet" href="../static/assets/css/slick.css">
            <link rel="stylesheet" href="../static/assets/css/nice-select.css">
            <link rel="stylesheet" href="../static/assets/css/style.css">
            <link rel="stylesheet" href="../static/styles.css">
   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../static/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
       <div class="header-area header-transparrent">
           <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="#"><img src="../static/assets/img/logo/logo.png" height="200px" width="200px" alt=""></a>
                            </div>  
                        </div>
                        <div class="col-lg-9 col-md-9">
                                <div class="header-btn d-none f-right d-lg-block">   
                                    <a href="/register" class="btn head-btn1">Register</a>                                 
                                    <div class="dropdown">
                                        <button class="genric-btn success-border" id="dropbtn">Login</button>
                                        <div class="dropdown-content">
                                          <a href="/login_seeker">Seeker</a>
                                          <a href="/login_recruiter">Recruiter</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
           </div>
       </div>
        <!-- Header End -->
    </header>
    <main>
                <!-- slider Area Start-->
                <div class="slider-area ">
                    <!-- Mobile Menu -->
                    <div class="slider-active">
                        <div class="single-slider slider-height d-flex align-items-center" data-background="assets/img/hero/h1_hero.jpg">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-9 col-md-10">
                                        <div class="hero__caption">
                                            <h1>Find the Most Exciting Jobs</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slider Area End-->
        <!-- Our Services Start -->
        <div class="our-services section-pad-t10">
            <div class="container">
        <!-- How  Apply Process Start-->
        <div class="apply-process-area apply-bg pt-15 pb-15" data-background="assets/img/gallery/how-applybg.png">
            <div class="container">
                <!-- Apply Process Caption -->
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-search"></span>
                            </div>
                            <div class="process-cap">
                               <h5>Search a job</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-curriculum-vitae"></span>
                            </div>
                            <div class="process-cap">
                               <h5>Apply for job</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="process-cap">
                               <h5>Get your job</h5>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <!-- How  Apply Process End-->
    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                       <div class="single-footer-caption mb-50">
                             <div class="footer-tittle">
                                 <h4>About Us</h4>
                                 <div class="footer-pera">
                                     <p>Not Another Job Portal. In addition to connecting seekers and recruiters, we provide Job and Skill Recommendations based on Job-Skill Match Score, provide Timely Alerts for New Job Openings and keep you safe from Fake Jobs.</p>
                                </div>
                             </div>
                       </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Contact Us</h4>
                                <ul>
                                    <li>
                                    <p>Address : College of Engineering, Guindy</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

  <!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="../static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="../static/assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="../static/assets/js/popper.min.js"></script>
        <script src="../static/assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="../static/assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="../static/assets/js/owl.carousel.min.js"></script>
        <script src="../static/assets/js/slick.min.js"></script>
        <script src="../static/assets/js/price_rangs.js"></script>
        
		<!-- One Page, Animated-HeadLin -->
        <script src="../static/assets/js/wow.min.js"></script>
		<script src="../static/assets/js/animated.headline.js"></script>
        <script src="../static/assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="../static/assets/js/jquery.scrollUp.min.js"></script>
        <script src="../static/assets/js/jquery.nice-select.min.js"></script>
		<script src="../static/assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="../static/assets/js/contact.js"></script>
        <script src="../static/assets/js/jquery.form.js"></script>
        <script src="../static/assets/js/jquery.validate.min.js"></script>
        <script src="../static/assets/js/mail-script.js"></script>
        <script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="../static/assets/js/plugins.js"></script>
        <script src="../static/assets/js/main.js"></script>
        
    </body>
</html>