<!DOCTYPE html>
<html>
    <head>
        <title>Success Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='TableStyle.css') }}" rel="stylesheet">
    </head>
    <body>
        <h4>Form Data</h4>
        <table>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Password</th>
              <th>Gender</th>
              <th>Address</th>
              <th>Country</th>
            </tr>
            <tr>
              <td>{{formdata[0]}}</td>
              <td>{{formdata[1]}}</td>
              <td>{{formdata[2]}}</td>
              <td>{{formdata[3]}}</td>
              <td>{{formdata[4]}}</td>
              <td>{{formdata[5]}}</td>
            </tr>
          </table>
    </body>
</html>
