<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='displaystyle.css') }}" >  
  </head>
  <body>
    <div class="overallDiv">
    <h2>Successfully Registered!</h2>
    <table id="data">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Course</th>
        <th>E-mail ID</th>
      </tr>
      <tr>
        {% for f in form_details[:-1] %}
        <td>{{ f }}</td>
        {% endfor %}  
      </tr>
    </table>
    <button onclick="window.location='form';" id="backtoform">Back to form</button>
    </div>
  </body>
</html>
